body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 20px;
  }
  
  .container {
    max-width: 500px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  form label, form select, form input {
    display: block;
    width: 100%;
    margin-bottom: 10px;
  }
  
  button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    width: 100%;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  #resultado {
    margin-top: 20px;
    font-weight: bold;
  }
  #encerrar {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px;
    margin-top: 10px;
    width: 100%;
    cursor: pointer;
  }
  
  #encerrar:hover {
    background-color: #0056b3;
  }
  
  